[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = http://github.com/wincent/Command-T.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/taglist.vim"]
	path = .vim/bundle/taglist.vim
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = http://github.com/Lokaltog/vim-powerline.git
[submodule "Auto-Pairs"]
	path = Auto-Pairs
	url = http://github.com/vim-scripts/Auto-Pairs.git
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = http://github.com/vim-scripts/Auto-Pairs.git
